*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
  margin:auto;
  width: 35rem;
  margin-top: 10px;
}
.InputContentBody{
  background-color: yellow;
 padding: .8rem;
}
.text{
  text-align: center;
}
.todoListInput{
  text-align: center;
  padding:.6rem;
}
.todoInput{
  padding:.8rem;
  border-radius: .5rem;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  width:20rem;
  outline: none;
  font-size: medium;

}
 ::placeholder{
  font-size: medium;
}
.addInputButton{
  padding:.8rem;
  width:5rem;
}
.todoListContainer{
  background: white;
  width: 4rem;
}
.todoValue{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top:.3rem;
}
.todoItem{
  display: flex;
  justify-content: space-between;
  margin: .9rem;
}
.ListDeleteButton{
  padding:.5rem;
  width:2rem;
}
.ListDoneButton{
  padding:.5rem;
  width:2rem;
}